:root {
  --primary: #def5e5;
  --secondary: #bcead5;
  --third: #8ec3b0;
  --bgc: #424242;
}

*,
html {
  padding: 0;
  margin: 0;
}

.gunting,
.batu,
.kertas {
  rotate: 180deg;
}

body {
  box-sizing: border-box;
  background-color: #cecece;
}

li {
  list-style-type: none;
}

.info {
  display: grid;
  place-content: center;
  height: 75px;
  width: 150px;
  background-color: var(--third);
  font-size: 2rem;
  color: black;
  margin: 0 auto;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 3rem;
  
}

.containerTitle {
  display: flex;
  justify-content: center;
}

/* Computer */
.area-computer {
  display: flex;
  justify-content: center;
}

.img-com {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  margin-bottom: 3rem;
}
/* Player */
.containerPlayer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.containerPlayer li {
  display: flex;
  height: 150px;
  width: 150px;
  background-color: var(--primary);
  /* margin: 2rem; */
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  cursor: pointer;
}
